# Tutorial for forward-backward algorithm

+ Import numpy for matrix multiplications
+ Import pandas just for the visualization of matrices as Data Frames (you don't need for coding the algorithm)
+ Import pprint for aesthetic beauty (again you don't need this library)

In [1]:
import numpy as np
import pandas as pd
from pprint import pprint

Store the text to be parsed.

In [2]:
text = "a myth is a female moth"

### Prior Probability Vector
The vector with the initial prior probabilities for transition to DT, JJ, NN and VB respectively.

In [3]:
initp = np.array([.45, .35, .15, .05])

### Transition Probability Matrix
The transition matrix containing all the transitions from a tag to a tag.
For example, it stores something like probability of a word being a noun given the previous word was a noun.
Thus, it is a table containing frequency distributions of transition probabilities.

In [4]:
tp = np.array([[.03, .42, .5, .05], [.01, .25, .65, .09], [.07, .03, .15, .75], [.3, .25, .15, .3]])

tagVector = ['DT','JJ','NN','VB']    

######### This is just for visualization #############
d = {'DT' : pd.Series([.03,.42,.5,.05], index = ['DT','JJ','NN','VB']),
                     'JJ' : pd.Series([.01,.25,.65,.09], index = ['DT','JJ','NN','VB']),
                     'NN' : pd.Series([.07,.03,.15,.75], index = ['DT','JJ','NN','VB']),
                     'VB' : pd.Series([.3,.25,.15,.3], index = ['DT','JJ','NN','VB'])
                    }
transition_matrix = pd.DataFrame(d)
transition_matrix
######################################################

      DT    JJ    NN    VB
DT  0.03  0.01  0.07  0.30
JJ  0.42  0.25  0.03  0.25
NN  0.50  0.65  0.15  0.15
VB  0.05  0.09  0.75  0.30

### Emission Probability Matrix
This matrix contains the probabilities for a word given a tag. For instance, the value in the first cell is 0.84 which is basically the probability of "a" when we know that it is Determinant i.e. "DT" [P("a"|"DT")]

In [5]:
ep = np.array([[.84, .05, .03, .05], [.01, .1, .45, .1], [.02, .02, .02, .6], [.84, .05, .03, .05],[.01, .7, .25, .05], [.12, .13, .25, .2]])
######### This is just for visualization #############
e = {'DT' : pd.Series([.84,.01,.02,.01,.12], index = ['a','myth','is','female','moth']),
     'JJ' : pd.Series([.05,.1,.02,.7,.13], index = ['a','myth','is','female','moth']),
     'NN' : pd.Series([.03,.45,.02,.25,.25], index = ['a','myth','is','female','moth']),
     'VB' : pd.Series([.05,.1,.6,.05,.2], index = ['a','myth','is','female','moth'])}
emission_matrix = pd.DataFrame(e)
emission_matrix
######################################################

          DT    JJ    NN    VB
a       0.84  0.05  0.03  0.05
myth    0.01  0.10  0.45  0.10
is      0.02  0.02  0.02  0.60
female  0.01  0.70  0.25  0.05
moth    0.12  0.13  0.25  0.20

### Forward Algorithm(Alpha Table)
This algorithm calculates all the probabilities for the sequence of words and stores it in a dictionary. In this case, the text "a myth is a female moth", "a" becomes t=0, "myth" becomes t=1, and so on. So for each t_i the value of the probabilities of a Tag given the word is stored in the forward table which is shown below. For the visualization part some tweak has been done just for a better understanding of the table.

In [6]:
# forward algo
forward = np.zeros((6, 4))
for t in range(0, len(text.split())):
    if t == 0:
        tmp = np.dot(initp, tp)
        forward[t] = tmp * ep[t]
    else:
        tmp = np.dot(forward[t - 1], tp)
        forward[t] = tmp * ep[t]
######### This is just for visualization #############
pd.DataFrame(np.transpose(forward),columns=text.split(),index=['DT','JJ','NN','VB'])
######################################################

           a      myth        is         a        female      moth
DT  0.035700  0.000050  0.000030  0.001688  8.465402e-07  0.000003
JJ  0.014675  0.002137  0.000028  0.000085  5.299198e-04  0.000018
NN  0.014475  0.013915  0.000075  0.000031  2.298448e-04  0.000095
VB  0.009075  0.001668  0.006679  0.000103  7.326456e-06  0.000044

### Backward Algorithm(Beta Table)
This algorithm works exactly the same way as the forward algorithm works. The only difference is that in the forward algorithm, we have the prior probability vector while in this algorithm, we assume that the vector is [1,1,1,1].

In [7]:
# backward algo
backward = np.zeros((6, 4))
inp = np.array([1, 1, 1, 1])
l = len(text.split()) - 1
for t in range(l, -1, -1):
    if t == l:
        tmp = np.dot(inp, tp)
        backward[t] = tmp * ep[t]
    else:
        tmp = np.dot(backward[t + 1], tp)
        backward[t] = tmp * ep[t]
######### This is just for visualization #############
pd.DataFrame(np.transpose(backward),columns=text.split(),index=['DT','JJ','NN','VB'])
######################################################

           a      myth        is         a    female    moth
DT  0.000024  0.000005  0.000023  0.008104  0.000995  0.0492
JJ  0.000002  0.000045  0.000089  0.001384  0.085340  0.1235
NN  0.000002  0.000150  0.000112  0.001979  0.048737  0.3625
VB  0.000007  0.000059  0.001655  0.002482  0.017842  0.2380

### Gamma Table
Smoothing of both alpha(forward) table and beta(backward) into gamma table i.e. multiplying the corresponding elements of both the tables.

In [8]:
gamma = np.zeros((5, 4))
gamma = forward * backward
######### This is just for visualization #############
pd.DataFrame(np.transpose(gamma),columns=text.split(),index=['DT','JJ','NN','VB'])
######################################################

,a,myth,is,a,female,moth
DT,8.643067e-07,2.506117e-10,6.828213e-10,1.368312e-05,8.421890e-10,1.394033e-07
JJ,2.392304e-08,9.589742e-08,2.461877e-09,1.170302e-07,4.522325e-05,2.272785e-06
NN,2.740280e-08,2.091918e-06,8.433021e-09,6.209630e-08,1.120206e-05,3.447800e-05
VB,6.114052e-08,9.842366e-08,1.105308e-05,2.561084e-07,1.307223e-07,1.058227e-05

## Note: 
This is the final table which will basically tell the sequence of the tags for the text. However, the values cannot be considered to be probabilities in this case. It is because they won't sum up to 1. The reason they don't is intentional. Technically, while making the backward table, each column was supposed to be normalized so that they would have summed up to 1, and similarly, in the gamma table, after multiplication the values for each column was to be normalized so that they summed up to one. We neglected that because we don't care that a certain word is a noun by what probability. We just care whether it is a noun, verb or some other tag. The normalization makes the algorithm computation intensive without giving any fruitful information and that is why it is neglected.